            * { margin: 0; 
                padding: 0; 
                box-sizing: border-box;}

            :root {
                --light-yellow: rgb(251, 236, 212);
                --bright-yellow: rgb(255, 198, 74);
                --dark-red: rgba(57, 0, 0, 0.722);
                --bright-red: rgb(99, 5, 5);
            }
            
            body{ margin: 0; 
                padding: 0; 
                background-image: url(background.png); 
                background-size: cover; 
                background-position: center;
                background-attachment: fixed;}
            header{ justify-content: center; 
                align-items: center;
                padding: px 30px; 
                background-color: rgba(57, 0, 0, 0.722); 
                color: var(--bright-yellow); 
                gap: 10px; 
                width: 100%;
                box-sizing: border-box; 
                display: flex; 
                flex-direction: column;}
            nav{ justify-content: center; 
                align-items: center;
                padding: 15px 30px; 
                background-color: rgba(57, 0, 0, 0.722); 
                color: var(--bright-yellow); 
                gap: 10px; 
                width: 100%;
                box-sizing: border-box; 
                display: flex; 
                flex-direction: column;}
            header h1{ margin: 0; font-size: 100px; font-family: 'Stick'; margin-bottom: 0px; text-shadow: 0 0 10 rgb(52, 1, 1);}
            header h3{ margin: 0; font-size: 25px; font-family: 'Mystery Quest'; margin-top: 0px;}
            h1 h3{line-height: 1.1}
            nav {position: sticky; top: 0; z-index: 1000;}
            nav ul{display: flex; list-style: none; margin: 0;padding: 0;gap: 65px; align-items: center; font-size: x-large; 
                margin-top: 5px; justify-content: center;} 
            nav a{color: var(--light-yellow); 
                text-decoration: none; 
                font-family: 'Roboto Serif';
                font-weight: bold; 
                align-items: center; 
                transition: all 0.4s cubic-bezier(0.25, 1, 0.5, 1); 
                display: inline-block;}
            nav a:hover{color: rgb(255, 198, 74); 
                text-shadow: 0 0 10px rgb(255, 219, 140); 
                transform: translateY(-9px) scale(1.20);}
            body h2{font-size: 60px; 
                background-color: rgba(57, 0, 0, 0.722); 
                justify-content: center;
                align-items: center; 
                width: 100%; 
                box-sizing: border-box; 
                display: flex; 
                color: var(--bright-yellow);
                flex-direction: column; 
                font-family: 'Dancing Script'; 
                margin-top: 30px;}
            .EDITORSNOTE {font-size: 50px; 
                background-color: rgba(255, 238, 165, 0.819); 
                justify-content: center;
                align-items: center; 
                width: 60%; 
                color: rgb(99, 5, 5); 
                box-sizing: border-box; 
                display: flex; 
                flex-direction: column; 
                font-family: 'Stick'; 
                text-shadow: 0 0 15px rgb(249, 249, 249); 
                margin: 10px;  box-shadow: 0 10px 30px rgb(52, 1, 1); border-radius: 12px;}
            .editorsnotetext {font-size: 23px; 
                background-color: rgba(255, 238, 165, 0.819); 
                justify-content: center;
                align-items: center; 
                width: 100%; color: rgb(99, 5, 5); 
                box-sizing: border-box; display: flex; 
                flex-direction: column; font-family: 'EB Garamond'; text-shadow: 0 0 10px rgb(255, 255, 255); 
                margin: 10px; line-height: 1.2; text-align:left;  box-shadow: 0 10px 30px rgb(52, 1, 1) ;  border-radius: 12px;} 
            .container {display: flex; 
                align-items: flex-start; 
                gap: 30px; 
                padding: 20px; 
                width: 95%; 
                margin: 0 auto;}
            .editortext {flex: 1.8; margin: 0;}
            .group-photo {flex: 1; display: flex; justify-content: center; }
            .group-photo img {width: 100%; 
                max-width: 650px; 
                height: auto; 
                flex-shrink: 0;  border-radius: 12px;  box-shadow: 0 10px 30px rgb(52, 1, 1)}
            .buttons {display: flex; 
                justify-content: space-between; 
                gap: 20px; 
                max-width: 100%; 
                margin: 30px 0; 
                width: 100%; 
                box-sizing: border-box; 
                padding: 20px; }
            .navbttn {font-family: 'Mystery Quest'; 
                font-size: 40px; 
                letter-spacing: 0.5px; 
                color: var(--bright-yellow); 
                text-decoration: none; 
                text-align: left;
                flex: 1; padding: 95px 30px; border: 1px var(--bright-red); background-color: var(--dark-red);
                 transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1);  border-radius: 12px;  box-shadow: 0 10px 30px rgb(28, 0, 0)}
            .navbttn:hover {background-color: rgba(88, 5, 5, 0.93); cursor: pointer; color: white; transform: translateY(-7px) scale(1.01);}

            /*MEMBERS CAROUSEL*/
            .membercards {
                align-items: center;
                width: 100% ;
                margin: 0 auto;
                padding: 30px 0;}
            .memberscontainer .swiper { display: flex; justify-content: center;
                align-items: center;
                width: 100%;}

            .memberslist { list-style: none;
                padding: 0;
                margin: 0;}

            .memberitem {display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;}

            .memberpic {width: 100%;
                height: auto;
                display: block; box-shadow: 0 0 15px rgb(158, 114, 1);}
            
            .memberslist .memberitem { list-style: none;}
            
            .memberslist .memberitem .memberlink {width: 400px
                ; display: block; background: linear-gradient(rgb(240, 229, 197), rgb(244, 213, 134)); padding: 18px;
                text-decoration: none; border-radius: 12px; box-shadow: 0 10px 20px rgb(52, 1, 1);
                transition: 0.3s ease; border: 5px solid rgb(255, 211, 135);}
            
            .memberslist .memberitem .memberlink:hover {border-color: rgb(52, 1, 1); cursor: default;}

            .memberslist .memberlink .memberpic { width: 100%;
                aspect-ratio: 6/5; object-fit: cover; border-radius: 12px;}
            
            .memberslist .memberlink .description {margin: 18px 0px 18px; background: rgb(249, 232, 198); 
                padding: 8px 16px; font-size: 40px; font-weight: 500; width: 100%; border-radius: 17px; justify-content: center 
                ; text-align: center; color: var(--dark-red); margin-bottom: 0px;}
            
            .memberslist .memberlink .roles {font-size: 25px; color: rgb(73, 5, 5);
                font-weight: 500px; margin: 20px; margin-top: 0px;}
            
            .memberslist .memberlink .cardbutton {height: 35px; width: 35px;
            border-radius: 50%; margin: 5px 0 5px; border: 2px solid rgb(52, 1, 1) ; color: rgb(52, 1, 1)
            ; background: none; cursor: pointer; transform: rotate(-90deg); transition: 0.4s ease;}

            .memberslist .memberlink:hover .cardbutton { color: rgb(243, 246, 249); background: rgb(52, 1, 1); }
            .cardcontent { display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%;}


            .swiper-button-prev, .swiper-button-next {
                position: absolute !important;  
                top: 300px !important;        
                transform: none !important;
                z-index: 9999 !important; 
               }

            .swiper-button-prev {
                left: 1px !important;}

            .swiper-button-next {
                right: 1px !important;}
            
            .memberscontainer {
                max-width: 95%;
                margin: 0 60px 35px;
                padding: 20px 10px;
                overflow: hidden;
            }

            .memberscontainer .swiper-pagination-bullet{height: 13px; width: 13px;
            opacity: 0.5; background: rgb(37, 0, 0);}

            .memberscontainer .swiper-pagination-bullet-active{opacity: 1;}
            .swiper-pagination { position: relative !important; bottom: 140px !important;
                margin-bottom: -140px !important;}

            .memberscontainer .swiperslidebutton {
                color:rgb(52, 1, 1); margin-top: -35px;  background: rgba(235, 215, 167, 0.814);
                border-radius: 90px; border: 10px solid rgba(235, 215, 167, 0.814);
            }

            .description {text-shadow: 0 3px 13px rgb(210, 155, 17);}

            /*ENGLISH PAGE*/
            #english-page {
                background-image: url(english-background.png);
                background-size: cover; 
                background-position: center;
                background-attachment: fixed;}
            #english-title {font-family: "Audiowide"; padding-top: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0);}
            #english-subtitle {font-family: "Dancing Script"; font-size: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0); padding-bottom: 10px;}

            #english-title, #english-subtitle {line-height: 1;}

            table {width: 99%; border-collapse: collapse; background-color: rgba(255, 238, 165, 0.819); margin-left: auto; margin-right: auto; box-shadow: 0 10px 30px rgb(52, 1, 1); margin-bottom: 20px;}
            th, td {border: 3px solid rgba(57, 0, 0, 0.722); padding: 8px; }
            th {font-family: "Stick"; font-size: 30px; color: var(--dark-red); text-shadow: 0 1px 10px rgb(253, 253, 253);  text-align: center}
            td {font-family: "EB Garamond"; font-size: 20px; color: var(--dark-red);text-shadow: 0 1px 10px rgb(253, 253, 253);  text-align: left}
            .first-column {font-weight: bold;}

            .container1 { 
                gap: 30px; 
                padding: 20px; 
                width: 95%; 
                margin-left: 30px; margin-right:25px; margin-bottom: 0px;}

            .container2 { 
                gap: 30px; 
                padding: 20px; 
                width: 95%; 
                margin-left: auto; margin-right:auto;margin-top: 0px;}
            
            .container-slim { background-color: rgba(255, 238, 165, 0.819); box-shadow: 0 10px 30px rgb(52, 1, 1); 
                gap: 30px; 
                padding: 20px; 
                width: 60%; 
                margin: 0 auto; color: rgb(86, 1, 1); line-height: 1.2; font-size: 18px;  border-radius: 12px;}
            
            .movements {font-weight: bolder; font-family: "EB Garmont"; margin-top: 20px; margin-bottom: 20px; font-size: 40px;}
            .stagedirection {font-style: italic; margin-top: 20px; margin-bottom: 20px;}
            .telemetrydisplay{background-color: rgb(255, 240, 204); font-family: "Inconsolata";}
            .authorsnote {margin-top: 10px; margin-bottom: 25px; text-indent: 40px; font-size: 20px;}

            /*REFERENCES*/
            .refimages {width: 50%;}
            .refcontainer {display: flex; justify-content: center; align-items: center; padding-left: 40px;padding-right: 40px; padding-top: 20px; padding-bottom: 20px;}
            .reftext {font-family:"EB Garamond"; color: rgb(56, 4, 4); font-size: 25px; text-align: justify; margin: 40px;}
            .reflink {font-family: "EB Garamond"; color: rgb(56, 4, 4); font-size: 25px; text-align: justify; 
                margin: 0px; border: 1px solid rgb(52, 1, 1); border-radius: 90px; text-decoration: none;
                margin-top: 20px; font-size: 20px; padding: 8px; transition: 0.4s ease}
            .reflink:hover {cursor: pointer; color: rgb(250, 250, 250); background-color: rgb(52, 1, 1);}

            /*AUTHORS*/
            #authors-page{background-image: url(authors-background.png);
                background-size: cover; 
                background-position: center;
                background-attachment: fixed;}
            
            #authorsheader{ justify-content: center; 
                align-items: center;
                padding: px 30px; 
                background-color: rgba(57, 0, 0, 0.722); 
                color: var(--bright-yellow); 
                gap: 10px; 
                width: 100%;
                box-sizing: border-box; 
                display: flex; 
                flex-direction: column; margin-bottom: 40px;}


            #authors-title {font-family: 'Stick'; padding-top: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0); color: rgb(255, 198, 74);}
            #authors-subtitle {font-family: "Dancing Script"; font-size: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0); padding-bottom: 10px;}
            #authors-title, #authors-subtitle {line-height: 1;}

            .authorscontainerslim {  background: linear-gradient(rgba(240, 229, 197, 0.749), rgba(244, 213, 134, 0.722)); box-shadow: 0 10px 30px rgb(52, 1, 1); 
                gap: 30px; 
                padding: 10px; 
                width: 60%; 
                margin: 0 auto; color: rgb(86, 1, 1); line-height: 1.2; font-size: 18px;  border-radius: 12px; margin-bottom: 40px;}
            .authorsimages {width: 60%; box-shadow: 0 10px 15px rgb(52, 1, 1); border-radius: 12px;}
            .authorscontainer {display: flex; justify-content: center; align-items: center; padding-left: 30px;padding-right: 40px; padding-top: 20px; padding-bottom: 20px;}
            .authorstext { color: rgb(98, 3, 3); font-size: 25px; text-align: left; margin-left: 40px; 
                margin-right: 0px; line-height: 1.2; text-shadow: 0 0px 7px rgb(167, 117, 11);}
            .name {font-family: "Roboto Serif"; margin-top: 10px; margin-bottom: 10px;}
            .nickname {font-family: "Stick";  margin-top: 10px; margin-bottom: 20px; font-weight: bolder; font-size: 40px;}
            .membership {font-family: "EB Gormorant"; font-weight: 300;  margin-top: 10px; margin-bottom: 20px; font-size: 30px;}
            .motto {font-family: "Satisfy"; font-style: italic;  margin-top: 10px; margin-bottom: 10px;}

           #khannahu {scroll-margin-top: 100px;}
           #yuanm {scroll-margin-top: 100px;}
           #jimzellen {scroll-margin-top: 100px;}
           #denzb {scroll-margin-top: 100px;}
           #eishas {scroll-margin-top: 100px;}
           #amandac {scroll-margin-top: 100px;}

           /*CLVED*/
            #clved-page {
                background-image: url(clved-background.png);
                background-size: cover; 
                background-position: center;
                background-attachment: fixed;}
            #clved-title {font-family: "Dancing Script"; padding-top: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0);}
            #clved-subtitle {font-family: "Roboto Serif"; font-size: 30px; text-shadow: 0 10px 10px rgb(37, 0, 0); padding-bottom: 10px; font-weight: lighter;}
            #clved-title, #clved-subtitle {line-height: 1;}

            .ref1 {font-size: 22px; color: rgb(99, 5, 5); 
                font-family: 'EB Garamond'; text-shadow: 0 0 10px rgb(255, 255, 255); 
                margin: 10px; line-height: 1.2; text-align:left; text-indent: 60px;}

            #clvedheader{ justify-content: center; 
                align-items: center;
                padding: px 30px; 
                background-color: rgba(57, 0, 0, 0.722); 
                color: var(--bright-yellow); 
                gap: 10px; 
                width: 100%;
                box-sizing: border-box; 
                display: flex; 
                flex-direction: column; margin-bottom: 40px;}